*{
    margin: 0;
    border: 0;
}

:root {
    --pagebg: #ffffff;
    --main: #371b63;
    --bglink: rgba(0, 0, 0, 0.3);
    --darkbg: #ff7c00;
    --lightbg: #000000;
    --lighter: #efefef;
    --banner: {
        
    }
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pagebg);
}
.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}


header .container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

header{
    background: var(--main);
    color: var(--darkbg);
    padding: 20px 10px;
}

header .logo{
    flex: 1;
    font-size: 24px;
    font-weight: 600;
}

header .logo a {
    text-decoration: none;
    color: var(--darkbg);
    padding: 5px;
    border-bottom: 1px solid var(--lighter);

}

header .logo span{ 
    border-top: 2px solid var(--lighter);
    padding: 5px;
    text-decoration: none;
    color: var(--lighter);
}

header .control{
    flex: 2;
    display: flex;
}

header .control ul {
    list-style: none;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .control ul li a {
    font-weight: 600;
    color: var(--pagebg);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 2px;
    margin-top: 5px;
}

header .control ul li.active a,
header .control ul li:hover a {
    color: var(--darkbg);
    background: var(--bglink);
}

header .search{
    flex: 1;
}

header .search input{
    padding: 5px 10px;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
}

.banner-all{
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/allanimals.jpg') center center no-repeat;
}

.banner-dog{
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/banner_dog.jpg') center center no-repeat;
}

.banner-cat{
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/banner_cat.jpg') center center no-repeat;
}

.banner-fish{
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/banner_fish.jpg') center center no-repeat;
}

.banner{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkbg);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--lighter);
    margin-bottom: 30px;
}

h2 {
    color: var(--darkbg);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.no-list {
    margin-bottom: 50px;
}
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px auto;
}

.item {
    color: var(--lightbg);
    border: 1px solid var(--lighter);
    border-radius: 2px;
}
.item--image {
    width: 100%;
    height: auto;
}

.item-desc{
    padding: 10px;
}

.item--name {
    color: var(--darkbg);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.item--type,
.item--color,
.item--genre {
    font-size: 13px;
    color: var(--lightbg);
    margin-bottom: 3px;
}

.item-desc span{
    font-weight: 600;
    color: var(--main);
}

footer {
    border-top: 1px solid var(--lighter);
    padding: 20px 0 !important;
    text-align: center;
    font-size: 16px;
    color: var(--main);
}

@media (max-width: 900px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .banner {
        height: 200px;
        font-size: 29px;
    }
    h2 {
        font-size: 18px;
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    header .container {
        flex-direction: column;
    }
    header input {
        max-width: 100%;
    }
    ul li a {
        padding: 5px 10px;
    }
    .list {
        grid-template-columns: 1fr;
    }
}